<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/pdf/upload" method="post" enctype="multipart/form-data">
      <label for="file-upload">Choose a PDF file to upload:</label>
      <input id="file-upload" type="file" name="pdf" accept=".pdf">
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
